*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{

}
.card{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
height: 300px;
width: 200px;
border: 1px solid salmon;
border-radius: 20px;
overflow: hidden;
}

#card1{
    z-index:4;
    background-color: aqua;
}

#card2{
     z-index: 3;
    background-color: blueviolet;
    rotate: -4deg;
}
#card3{
    z-index: 2;
    background-color: cornsilk;
    rotate: -8deg;
}
#card4{
    z-index: 1;
    background-color: crimson;
    rotate: -12deg;
}
#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}